@use '../../sass/variables.scss' as *;
@use '../../sass/mixins.scss' as *;

.header {
  @include flex-col();
  align-items: center;
  margin-bottom: 20px;

  .title-link {
    text-decoration: none;
    color: $white;

    .title {
      @include flex-row(10px);
      padding: 30px 0;
      text-decoration: none;

      .icon {
        font-size: 1.7rem;
      }
    }
  }

  .search-bar-container {
    @include flex-row-center(10px);
  }
}
